.Login-background {
  background: #e3e7ea;
  font-family: "work sans";
  height: 100vh;

  .Login-container {
    width: 456px;
    // height: 100%;
    margin: auto; //can giua
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 530px;

    .Login-content {
      padding: 10px;
      .Login-input {
        margin: 10px 0;
        .custom-input-password {
          position: relative;
          i {
            position: absolute;
            right: 9px;
            top: 10px;
            cursor: pointer;
          }
        }
      }
      label {
        font-weight: 600;
        font-size: 19px;
      }
      .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }
      .logo-student {
        max-width: 100%;
        height: 143px;
      }
      .text-Login {
        font-size: 24px;
        padding-top: 20px;
        text-align: center;
        font-weight: 600;
      }
      .btn-Login {
        width: 100%;
        margin: 10px 0;
        height: 30px;
        outline: none;
        border: none;
        border-radius: 10px;
        background: #4d515c;
        font-size: 16px;
        color: white;
        font-weight: 600;
      }
      .forgot-password {
        font-size: 20px;
        cursor: pointer;
        padding-bottom: 10px;
        margin-top: 10px;
      }
      .register {
        font-size: 20px;
      }
      .register-txt {
        color: #3073ff;
        cursor: pointer;
      }
    }
  }
}
.modal-user-container {
  .modal-content {
    .modal-header {
      button {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 27px;
      }
    }
  }
  .modal-user-body {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .input-container {
      display: flex;
      flex-direction: column;
      width: 49%;
      label {
        font-weight: 600;
        font-size: 15px;
      }
      &.max-width-input {
        width: 100%;
      }

      input {
        border-radius: 3px;
        height: 30px;
        border: 1px solid grey;
        outline: none;
        padding: 0px 10px;
      }
    }
  }
}
.modal-header {
  top: 20px;
  background-color: #17a2b8;
  color: white;
}
.modal-content {
  top: 127px;
  height: 572px;
}
.btn-create {
  background-color: #17a2b8;
}
