.list-func {
  list-style: none;
  width: 96%;

  i {
    font-size: 23px !important;
  }
  hr {
    color: white !important;
  }

  .logo {
    padding: 10px 30px !important;
    border-bottom: 1px solid white !important;
    img {
      height: 133px !important;
    }
    cursor: pointer !important;
  }
  .list_item {
    cursor: pointer !important;
    text-transform: uppercase !important;
    font-size: 10px !important;
    padding: 10px 8px !important;
    line-height: 20px !important;
    display: flex !important;
    a {
      text-decoration: none !important;
      color: #f1f1f1 !important;
      font-size: 20px !important;
      margin-left: 5px !important;
    }
    &:hover {
      opacity: 0.5 !important;
    }
    &.active {
      a {
        color: #439cbc !important;
      }
    }
  }
}
